body {
    background-color: #97D2FB;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.main {

    gap: (10px);
    animation: munculdarisamping 2s ease-out forwards;
}
.div{
display: flex;        
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: auto;          
    padding: 20px;
}
.input {
    font-size: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: #E1EFF6;
    color: black;
}

p {
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: munculdarisamping 2s ease-out 0.3s forwards;
    opacity: 0;
    animation-delay: 500ms;
}

button {
    font-size: 100%;
    background-color: #E1EFF6;
    border-radius: 20px;
    margin: 10px;
}

button:hover {
    font-size: 105%;
}

.container-suara {
    display: flex;         
    flex-direction: column; 
    margin-top: 20px;
}

.tombol-suara {
    background-color: #E1EFF6;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;
    display: inline-block;
    animation: munculdarisamping 2s ease-out 0.4s forwards;
    opacity: 0;
}

.tombol-suara:hover {
    background-color: #b3d9ff;
}

@keyframes munculdarisamping {
    from {
        opacity: 0;
        transform: translatex(-100px);
    }

    to {
        opacity: 1;
        transform: translatex(0);
    }
}

nav{
    
    position: absolute; 
    top: 0;
    left: 0;        
    display: flex;
    justify-content: center;   
    width: 100%; 
    height: 100px; /* Anda bisa menyesuaikan ini */
    padding: 0;    /* Ubah dari 10px menjadi 0 agar rapat ke atas */
    z-index: 10;   
    background-color: #60A5D1;
}

.foto-alarm{
   position: absolute;
    top: 0;            /* Menempel ke bagian paling atas nav */
    left: 50%;         /* Menaruh di tengah secara horizontal */
    transform: translateX(-50%); /* Memastikan posisi tengah yang sempurna */
    height: 100px;     /* Sesuaikan tinggi gambar dengan tinggi nav agar pas */
    width: auto;       /* Biarkan lebar menyesuaikan proporsi */
    display: block;
}

