body{
    background-color: #97D2FB;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
nav{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0%;
    height: 100px;
    width: 100%;
    background-color: #60A5D1;
}

#mulai:disabled {
    background-color: #efefef; /* Samakan dengan warna tombol mulai aslimu */
    color: black;              /* Samakan dengan warna teks aslimu */
    opacity: 1;                /* Menghilangkan efek pudar transparan */
    border: 1px solid black; /* Sesuaikan dengan warna border tombol normal */
    outline: none;
    cursor: default;           /* Mengubah kursor agar tidak terlihat seperti bisa diklik */
}

.foto-alarm{
   position: absolute;
    top: 0;            /* Menempel ke bagian paling atas nav */
    left: 50%;         /* Menaruh di tengah secara horizontal */
    transform: translateX(-50%); /* Memastikan posisi tengah yang sempurna */
    height: 100px;     /* Sesuaikan tinggi gambar dengan tinggi nav agar pas */
    width: auto;       /* Biarkan lebar menyesuaikan proporsi */
    display: block;
}

button{
    animation: munculdarisamping 2s ease-out forwards;
}